extends layout

block content
  div#wx_logo(style='margin:0 auto;display:none;')
    img(src='/huada.png')
  <iframe width=100% frameborder=0 height=100% src="http://h.eqxiu.com/s/vALL5EMQ" id="iframeSon"></iframe>
